.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F0F8FF;
    min-height: 40vh; /* To fill the screen height */
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dropdownText {
    font-size: 14px;
    color: #888;
    margin-left: 10px;
  }
  
  .card {
    background-color: #FFD700;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  .statRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .dropdown {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  